<app-recent-temp></app-recent-temp>
<div class="container">
    <div class="left">
        <app-temp-list></app-temp-list>
    </div>
    <div class="right">
      <app-temp-minmax-search></app-temp-minmax-search>
    </div>
  </div>
  <footer class="footer">
    <div class="contact-info">
      <h2>Contact Us</h2>
      <p>Email: alidashtbozorg709&#64;gmail.com</p>
      <p>Phone: 88882991</p>
      <p>Address: Tehran Province, Tehran, Mirdamad Blvd, No. 470</p>
      <img src="assets/logo.png" width="100">
    </div>
  </footer>