<div class="date-time-input">
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate">

    <label for="startTime">Start Time:</label>
    <input type="time" id="startTime" [(ngModel)]="startTime">

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate">

    <label for="endTime">End Time:</label>
    <input type="time" id="endTime" [(ngModel)]="endTime">
    <button (click)="click()">search</button>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Time</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let t of datas">
            <td class="align-middle">{{t.id}}</td>
            <td class="align-middle">{{t.temp}}</td>
            <td class="align-middle">{{t.humidity}}%</td>
            <td class="align-middle">{{t.shTime}}</td>
            
        </tr>
    </tbody>
</table>